@import "https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css";
@import "owlcarousel/css/owl.carousel.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: FordAntenna;
  src: url("font/ford-antenna/FordAntenna-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Kanit;
  src: url("font/Kanit/Kanit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Sukhumvit;
  src: url("font/sukhumvit/SukhumvitSet-Text.ttf");
  font-weight: normal;
  font-style: normal;
}

.font-sukhumvit {
  font-family: "Sukhumvit";
}

.fixed-herder {
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;

}

.fixed-herder .tab-back {
  margin-top: 30px;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.owl-carousel.owl-amount .owl-item>div {
  margin: 0px;
  margin: 0px;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  color: #000;
  height: 35px;
  font-size: 17px;
}

.owl-item>div {
  cursor: pointer;
  margin: 5px 20px;
  transition: margin 0.4s ease;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 12px;
  height: 29px;
  color: #000859;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
  z-index: 3;
}

.owl-item.center>div {
  cursor: auto;
  margin: 0;
  height: 35px;
  font-weight: 700;
  padding-top: 5px;
  font-size: 17px;
  background: #000859;
  border-radius: 12px;
  color: #fff;
  z-index: 5;

}

.owl-carousel {
  position: relative;
}

.owl-carousel .owl-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  z-index: 1;

}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  background: rgba(18, 18, 29, 0.05);
  color: inherit;
  border: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.owl-carousel .owl-nav button.owl-next img,
.owl-carousel .owl-nav button.owl-prev img {
  height: 10px;
  margin-top: -8px;
  padding-bottom: 3px;
}

.owl-item:not(.center)>div:hover {
  opacity: .75;
}

.font-kanit {
  font-family: "Kanit";
}

.text-grey {
  color: #555555;
}

.card-border {
  border-bottom: 5px solid #F4F4F4;
  ;
}

.font-ford {
  font-family: "FordAntenna";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  color: #010D29;
}

.text-right {
  text-align: right;
}

.font-11px {
  font-size: 11px;
}

.font-12px {
  font-size: 12px;
}

.font-26px {
  font-size: 26px;
}

.font-14px {
  font-size: 14px;
}

.font-18px {
  font-size: 18px;
}

.font-8px {
  font-size: 11px;
}

.font-SemiBold {
  font-weight: 600 !important;
}

.text-danger {
  color: #EF4040 !important;
}

.text-success {
  color: #41C221 !important;
}

.text-color-theme {
  color: #00095B;
}

b {
  font-weight: bold;
}

.mb-70px {
  margin-bottom: 70px;
}

.background-color-theme {
  background-color: #00095B;
}

.btn-white {
  color: #00095B;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.btn-white:hover {
  color: #000859;
  background-color: rgb(250, 250, 250);
  border-color: rgb(250, 250, 250);
}

.btn-white:focus,
.btn-white.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
}

.btn-white:disabled,
.btn-white.disabled {
  color: #000859;
  background-color: rgb(250, 250, 250);
  border-color: rgb(250, 250, 250);
}

.btn-white:not(:disabled):not(.disabled):active,
.btn-white:not(:disabled):not(.disabled).active {
  color: #000859;
  background-color: rgb(250, 250, 250);
  border-color: rgb(250, 250, 250);
}

.btn-white:not(:disabled):not(.disabled):active:focus,
.btn-white:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(250, 250, 250, 0.5);
}

.btn-primary {
  color: #fff;
  background-color: #000759;
  border-color: #010857;
}

.btn-primary:hover {
  color: #fff;
  background-color: #01084e;
  border-color: #01084e;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #01084e;
  border-color: #01084e;
  -webkit-box-shadow: 0 0 0 0.2rem #01074e80;
  box-shadow: 0 0 0 0.2rem #01074e80;
}

.btn-primary:disabled,
.btn-primary.disabled {
  color: #fff;
  background-color: #000759;
  border-color: #010857;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #01084e;
  border-color: #01084e;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #01074e80;
  box-shadow: 0 0 0 0.2rem #01074e80;
}

.btn-secondary {
  color: #010D29;
  background-color: #F1F1F1;
  border-color: #F1F1F1;
}

.btn-secondary:hover {
  color: #010D29;
  background-color: #ececec;
  border-color: #ececec;
}

.btn-secondary:focus,
.btn-secondary.focus {
  color: #010D29;
  background-color: #ececec;
  border-color: #ececec;
  box-shadow: 0 0 0 0.2rem #ececec86;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #010D29;
  background-color: #F1F1F1;
  border-color: #F1F1F1;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
  color: #010D29;
  background-color: #ececec;
  border-color: #ececec;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #ececec86;
}

.btn-radius-30px {
  border-radius: 30px;
  height: 50px;
  font-size: 16px;
  line-height: 19px;
}

.btn-radius-15px {
  border-radius: 15px;
  height: 46px;
  font-size: 16px;
  line-height: 19px;
}

.card.card-content-box {
  background-color: transparent;
  border: none;
  border-top: 0;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 30px;
  position: relative;
  padding-bottom: 0;
  width: 100vw;
}

.background-log-in {
  background-image: url(img/bg-login.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

.logo-login {
  margin-top: 52px;
  position: relative;
  width: 100%;
  padding-top: 19.29%;
  overflow: hidden;
}

.logo-login img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-left: 10px;
  padding-right: 10px;
}

.width-137px {
  width: 137px;
}

.requst-code {
  margin-top: 35px;
  width: 137px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #5B5B5B;
}

.digit-group {
  text-align: center;
}

.digit-group input {
  width: 13.33%;
  height: 40.57px;
  border-radius: 5px;
  background-color: #F3F4F8;
  border: 1px solid #F3F4F8;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
  color: #000000;
  margin: 0 2px;
}


.card.card-content-box .card-body {
  padding: 0;
}

.card-content-box .box-index-1 {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #000859;
}

.card-content-box .box-footer {
  position: absolute;
  /* margin-top: 50%; */
  margin-right: -30px;
  margin-left: -30px;
  background-image: url(img/footer.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  bottom: 0;
}

.mb-50-67 {
  padding-top: 50.67%;
}

.footer {
  margin-left: -30px;
  margin-right: -30px;
}

.font-10px {
  font-size: 10px !important;
}

.font-22px {
  font-size: 22px !important;
}

.font-19px {
  font-size: 19px !important;
}

.show-messege {
  margin-top: 20px;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 10px;
  color: #fff;
  background-color: #000759;
}

.icon-messege {
  width: 33.77px;
  height: 29.75px;
  transform: rotate(10.99deg);
  overflow: hidden;
}

.icon-messege img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-view {
  width: 13.28px;
  min-width: 13.28px;
  height: 9.49px;
  position: relative;
}

.box-view img {
  position: absolute;
  object-fit: contain;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.img-coin {
  width: 33px;
  min-width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 2px solid #7e85ab9a;
  background-color: #7e85ab9a;
  overflow: hidden;
}

.img-coin img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-footer-img {
  width: 100%;
  padding-top: 50.67%;
  position: relative;
  overflow: hidden;
}

.mb-20px {
  margin-bottom: 20px;
}

label {
  font-weight: 300;
  font-size: 13px;
  color: #000859;
  margin-bottom: 10px;
}

.box-footer .box-footer-color {
  background-image: linear-gradient(#00095B, #00095B 100%);
  background-size: 100% 200px;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 53%;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 39px;
  z-index: 2;
}

.img-icon-label {
  width: 18px;
  height: 18px;
}

.img-icon-label img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.card-content-box .box-footer-detail {
  position: absolute;
  width: 100%;
  margin-top: 50%;
  height: 100%;
  left: 0;
  z-index: 2;
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: 600;
  font-size: 39px;

}

.background-sub {
  background-color: #F3F4F8;
  overflow: hidden;
}

.card-recive {
  background: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 12px;
  position: relative;
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  /* overflow: hidden; */
}

.card-recive-left {
  position: absolute;
  height: 37px;
  width: 30px;
  left: -20px;
  top: 40%;
  background-color: #F3F4F8;
  border-radius: 60%;
  border-right: 1px solid #CECECE;
}

.card-recive-right {
  position: absolute;
  height: 37px;
  width: 30px;
  right: -20px;
  top: 40%;
  background-color: #F3F4F8;
  border-radius: 60%;
  border-left: 1px solid #CECECE;
}


a {
  text-decoration: unset;
  color: rgba(0, 0, 0, 1);
}


.box-lang {
  text-align: center;
  margin-top: 25px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
}

.box-lang a {
  color: #fff;
}

.box-lang a.none-active {
  color: rgba(112, 112, 112, 1)
}

.box-footer-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.form-control.email {
  height: 46px;
  background: #F3F4F8;
  border: 0;
  backdrop-filter: blur(30px);
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
}

.px-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.mx-20px {
  margin-left: 20px;
  margin-right: 20px;
}

.form-control.border {
  height: 46px;
  background: transparent;
  border: 0 !important;
  border-bottom: 1px solid #C7C7C7 !important;
  backdrop-filter: blur(30px);
  border-radius: 0;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 5%;
  color: rgba(0, 8, 89, 1);
  padding-right: 20px;
  text-align: left;
}

.form-control.border.amount {
  height: 55px;
  background: transparent;
  border: 0 !important;
  border-bottom: 1px solid #C7C7C7 !important;
  backdrop-filter: blur(30px);
  border-radius: 0;
  padding-left: 0;
  font-size: 55px;
  font-weight: 600;
  color: #010D29;
  padding-right: 90px;
  text-align: left;
  position: relative;
}

.text-input {
  right: 5px;
  top: -15px;
  position: absolute;
  font-size: 55px;
  font-weight: 600;
  color: #010D29;
}

.form-control.border:focus {
  box-shadow: unset;
  border-bottom: 1px solid #010d2986;
}

.line-12 {
  line-height: 12px !important;
}

.input-icon {
  position: relative;
}

.input-icon .img-input-pass {
  position: absolute;
  right: 10px;
  top: 38px;
  width: 15px;
  width: 15px;
  overflow: hidden;
  cursor: pointer;
}

.img-input-pass img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.input-icon .img-input {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 15px;
  width: 15px;
  overflow: hidden;
  cursor: pointer;
}

.input-icon .img-input img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-control.email::placeholder {
  color: #010D29;
  opacity: 1;
  /* Firefox */
}

.form-control.email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #010D29;
}

.form-control.email::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #010D29;
}

.form-control.border::placeholder {
  color: #5b5a5ab4;
  font-weight: 300 !important;
  opacity: 1;
  /* Firefox */
}

.form-control.border:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5b5a5ab4;
  font-weight: 300 !important;

}

.form-control.border::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5b5a5ab4;
  font-weight: 300 !important;
}


.form-control {
  height: 37px;
  background: #F3F4F8;
  border: 0.4px solid #000859;
  box-sizing: border-box;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  font-size: 12px;
}


.form-control::placeholder {
  color: #5B5A5A;
  opacity: 1;
  /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #5B5A5A;
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #5B5A5A;
}


.card-store {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 10px;
}

.text-head {
  color: #333333;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 15px;
}

.card-history {
  background: #FBFBFB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.14);
  border-radius: 11px;
  padding: 10px 15px;
}

a:hover .card-history {
  color: #333333;
}

.box-history {
  background: #FFFFFF;
  box-shadow: 0px -1px 11px rgba(0, 0, 0, 0.12);
  padding: 20px;
  border-radius: 50px 50px 0 0;
}

.img-history {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.img-history img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.img-box {
  width: 54px;
  height: 54px;
  overflow: hidden;
  border-radius: 13px;
  margin-right: 15px;
}

.img-box img {
  width: 54px;
  height: 54px;
  object-fit: cover;
}

.img-box-send {
  width: 54px;
  height: 54px;
  overflow: hidden;
  border-radius: 13px;
  margin-right: 15px;
  position: relative;

}

.img-box-send img {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  object-fit: contain;
}

.text-name {
  font-weight: 600;
  font-size: 11px;
}

.text-sub {
  font-size: 8px;
}

.text-secondary {
  color: rgba(112, 112, 112, 1) !important;
}

.text-person {
  font-weight: 500;
  font-size: 20px;
}

.font-33px {
  font-weight: 600;
  font-size: 33px;
}

.summery-card {
  margin-right: -30px;
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 144px;
  padding-top: 20px;
  background-image: url(img/summery-card.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-description {
  font-weight: 300;
  font-size: 13px;
  color: #010d29cc;
  line-height: 22px;
}

.img-store {
  width: 47px;
  height: 47px;
  overflow: hidden;
  border-radius: 7px;
  margin-right: 15px;
}

.img-store img {
  height: 100%;
  object-fit: contain;
}

.btn-view {
  width: 28px;
  height: 28px;
  background: rgba(18, 18, 29, 0.05);
  backdrop-filter: blur(20px);
  position: relative;
}

.btn-view img {
  height: 13px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.btn-back {
  width: 44px;
  height: 44px;
  background: rgba(18, 18, 29, 0.05);
  backdrop-filter: blur(20px);
  position: relative;
}

.btn-wallet {
  width: 44px;
  height: 44px;
  background: rgba(18, 18, 29, 0.05);
  backdrop-filter: blur(20px);
  position: relative;
}

.btn-back.small {
  width: 15px;
  height: 15px;
}

.btn-back.small img {
  width: 10px;
  height: 10px;

}

.font-13px {
  font-size: 13px;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.btn-wallet img {
  height: 25px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}


.btn-back img {
  height: 14px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.h100-vh {
  min-height: 100vh;
  height: 100vh;
}

.footer-custom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mb-50px {
  margin-bottom: 50px;
}

.bg-footer {
  /* background-color: #00095B; */
  background-image: url(img/footer.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 128.52px;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sticky-bottom {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    z-index: 1020;
  }
}

.h100-vh-token {
  /* min-height: calc(100vh - 125px); 
  height: calc(100vh - 125px); */
  min-height: calc(100vh - 90px);
  height: calc(100vh - 90px);

}

.font-38px {
  font-size: 38px;
}

.box-select-amount {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  font-family: Kanit;
  font-size: 17px;
  line-height: 128.8%;
  color: #000000;
  width: 87.52px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box-select-amount:hover {
  background: #f5f4f4;
}

.header-page {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2
}

.nav-dinner {
  width: 100%;
  display: flex;
}

.line-1 {
  line-height: 1 !important;
}

.nav-dinner .list {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #CECBCB;
  border-top: 1px solid #CECBCB;
  width: 33.33%;
  margin-bottom: 15px;
  position: relative;
  /* font-family: Roboto; */
  font-size: 12px;
  line-height: 14px;
  color: #939393;
  cursor: pointer;
}

.nav-dinner .list.active,
.nav-dinner .list:hover {
  color: #2918E8;
}

.nav-dinner .list.active::before,
.nav-dinner .list:hover::before {
  height: 2px;
  background-color: #2918E8;
  width: 100%;
  content: '';
  bottom: 0;
  position: absolute;

}

.modal-singin {
  height: unset;
  bottom: 0;
  top: unset;
}

.text-modal-header {
  font-weight: 600;
  font-size: 27px;
  text-align: center;
  color: #00095B;
}

.modal-body {
  padding-left: 30px;
  padding-right: 30px;
}

.modal-singin .modal-dialog {
  margin: 1.75rem auto;
  margin-bottom: 0;
}

.modal-singin .modal-dialog .modal-content {
  border-radius: 50px 50px 0 0;
  padding-top: 53px;
}

.width-200px {
  width: 200px;
}

.mt-24px {
  margin-top: 24px;
}

.pt-5px {
  padding-top: 12px;
}

.mt-20px {
  margin-top: 20px;
}

.px-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.show-balance {
  padding: 15px;
  position: relative;
  height: 107px;
  font-family: Sukhumvit, FordAntenna;
  background-color: #00095B;
  background-image: url(img/bg-balance-new.png);
  background-position-x: right;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 60% 110%;
  border-radius: 16px;
}

.box-balance {
  height: 30px;
  font-size: 12px;
  background: rgba(0, 20, 46, 0.23);
  border: 0.5px solid #E7E7E7;
  border-radius: 11px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding-right: 13px;
  padding-left: 13px;
}

/* .show-balance-1 {
  position: absolute;
  width: 102.59px;
  height: 237.12px;
  left: 82.14px;
  top: -50px;
  background: #00142E;
  transform: rotate(19.24deg);
} */

.card-body.sub-card {
  border-radius: 16px 16px 0 0;
  background: #F3F4F8;
}

.modal-dialog .modal-content {
  border-radius: 50px;
}

.tab-back {
  font-size: 20px;
  width: 100%;
  font-weight: 600;
  height: 60px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #000859;
}

.tab-back .card-content-box {
  width: 100%;
  position: relative;
}

.tab-back .card-content-box .back {
  position: absolute;
  left: 0;
  top: 0;
}


@media (max-width: 424px) {
  .font-26px {
    font-weight: 600;
    font-size: 22px;
  }
}


@media (min-width: 425px) {
  .card.card-content-box {
    width: 424px;
  }

  .footer-custom {
    width: 424px;
  }

  .bg-footer {
    background-image: url(img/footer.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 424px 128.52px;
  }

  .modal-singin .modal-dialog {
    max-width: 424px;
  }

  .modal-dialog {
    max-width: 414px;
  }

  .show-balance {
    background-size: 53% 110%;
  }

}